body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    position: relative;
    width: 200px;
    height: 150px;
    background-color: #808080;
    cursor: pointer;
}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px;
    text-align: center;
    width: 50%;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
}

.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    z-index: 1;
    box-sizing: border-box;
}

.close-button {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    width: 35px; 
    height: 35px; 
    border-radius: 50%; 
    background-color: white; 
    padding: 5px; 
    box-sizing: border-box; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}

.close-icon {
    position: relative;
    width: 100%;
    height: 100%;
}

.close-icon svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: black;
}

.close-button:hover {
    background-color: red;
}

.close-button:hover .close-icon svg {
    fill: white;
}

.map-box{
    position: absolute;
    z-index: 2;
    width: 250px;
    top: 4px;
    left: 4px;
    opacity: 50%
}
.mini-map{
    display: inline-block;
    position: relative;
    width: 100%;

}
.img-map{
    width: 100%;
    height: 100%;
}

.markers{
    pointer-events: visible; 
}

.marker{
    width: 15px;
    height: 15px;
    background: green;
    position: absolute;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s;
}

.marker::before {
    content: "";
    position: absolute;
    width: 40px; 
    height: 40px; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    opacity: 0;
}

.marker:hover::before {
    opacity: 1;
}

.marker:hover{
   
    box-shadow:0 0 0 3px gray;
}

.marker-active{
    background: red;
    transition: background-color 0.3s;
}

.marker-active::before {
    opacity: 1;
}
